body {
  background-color: #d2dfe1;
}

h3 {
  font-size: 23px;
}

a {
  text-decoration: none;
  color: rgb(83, 111, 129);
  font-weight: 400;
  transition: 100ms all ease-in;
}

a:hover {
  text-decoration: underline;
  color: rgb(135, 156, 169);
}

ul {
  list-style-type: none;
  text-align: left;
}

.container {
  background-color: #8cbcc3;
}

.border {
  margin-top: 60px;
  max-width: 950px;
  border-width: thick;
}

.search {
  margin-top: 10px;
}

.btn {
  color: white;
  background-color: rgb(55, 54, 54);
  transition: 200ms all ease-in-out;
}

.btn:hover {
  color: rgb(55, 54, 54);
  background-color: rgb(135, 156, 169);
}

.current-weather-icon {
  display: grid;
  justify-content: center;
}

.description {
  font-size: 20px;
  font-weight: 500;
}
.current-temp {
  font-size: 45px;
  font-weight: 700;
}

.active {
  color: black;
  cursor: default;
}

.active:hover {
  text-decoration: none;
  color: black;
}

.forecast-day {
  display: grid;
  justify-content: center;
  font-weight: bold;
  margin-top: 30px;
}

.forecast-icon {
  display: grid;
  justify-content: center;
}

.forecast-range {
  text-align: center;
}

.forecast-min {
  color: rgb(83, 111, 129);
}

.footer {
  text-align: center;
}
